#sass_binary_site=http://192.168.178.249:8081/repository/npm-zf2cxzx/node-sass
#registry=http://192.168.178.249:8081/repository/npm-zf2cxzx/
no_proxy=192.168.178.249,192.168.178.249,10.170.33.113
#registry=http://192.168.178.249:8082/repository/npm-publish/
registry=http://10.170.33.113:8081/repository/npm-qdp/
#registry=https://registry.npmmirror.com
#registry=http://registry.npm.taobao.org/
node-linker=hoisted
always-auth=true
strict-ssl=false
#sass_binary_site=http://192.168.178.249:8082/repository/aliyun.node-sass/
phantomjs_cdnurl=http://npm.taobao.org/mirrors/phantomjs
ELECTRON_MIRROR=http://npm.taobao.org/mirrors/electron/
electron_mirror=http://npm.taobao.org/mirrors/electron/
ELECTRON_GET_USE_PROXY=true
PUPPETEER_SKIP_DOWNLOAD=false
